#metal0{
	position: absolute;
    top: 44.5%;
    left: 23.3%;
}
#metal1{
	position: absolute;
    top: 44.5%;
    left: 60.8%;
}
#metal2{
	position: absolute;
    left: 42%;
    top: 25%;
}
#metal3{
	position: absolute;
    left: 42%;
    top: 27.5%;
}